## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [5]:
np.random.rand(10)
data = {'國家': ["Taiwan", "Japan", "Koera", "Malyasia","Singapore"],
        '人口': np.random.randint(1000000, size = 5) }
data = pd.DataFrame(data)
data.head()

          國家      人口
0     Taiwan  697089
1      Japan  835224
2      Koera  983967
3   Malyasia  290086
4  Singapore  955155

In [10]:
print("人口最多國家資料:")
data.loc[data['人口'].idxmax()]

人口最多國家資料:

國家     Koera
人口    983967
Name: 2, dtype: object